body {
    background: #000000;
    color: #6ad6ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    width: 30%;
    display: inline;
    margin: 20px;
}


.title {
    font-size: 3em;
    color: #6ad6ff;
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px;
}

.task {
    background: #58a3c0;
    color: #000000;
    display: block;
    width: 100%;
    min-height: 50px;
    border: 2px solid #330A0A;
    margin: 10px;
    border-radius: 25px;
}

.deadline {
    display: inline;
}


.notes {
    display: none;
    background: #7eb0c3;
    display: none;
    margin: 20px 20px 20px 40px;
    font-size: 1.2em;
}

.savebutton{
    margin: 20px;
}

.editnotes {
    margin: 10px;
    font-size: 1.2em;
}

.hiddendiv {
    display: none;
}

.deletebutton {
    display: block;
    float: right;
    margin: 10px 60px auto 5px;
}

.centerdiv {
    width: 50%;
    margin: 200px auto;
}

#maindiv {
    background: #e1b27e;
    color: #000000;
    width: 80%;
    max-width: 800px;
    display: block;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 15px 60px;
}

#hiddenform {
    display: none;
}