.task{
    display: block;
    width: 100%;
}

h2{
    width: 30%;
    display: inline;
}

.deadline {
    width: 70%;
    display: inline;
}

.notes{
    display: none;
}

div{
    border: 2px solid black;
}

#hiddenform{
    display: none;
}